<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        <div>
            <lable for="email">Email</lable>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <lable for="firstName">First Name</lable>
            <input type="text" name="firstName" id="firstName">
        </div>
        <div>
            <lable for="lastName">Last name</lable>
            <input type="text" name="lastName" id="lastName">
        </div>
        <input type="submit">


    </form>
</body>
</html>